<div class="footer">
  <div class="footer-columns">
    <div class="footer-column">

    </div>
    <div class="footer-column">

    </div>
    <div class="footer-column">
      <div class="social">
        <a href="http://www.facebook.com/wix" class="icon">
          <img src="./assets/icons/facebook.svg" alt="facebook icon" width="35px" height="35px">
        </a>
        <a href="http://www.twitter.com/wix" class="icon">
          <img src="./assets/icons/twitter.svg" alt="twitter icon" width="35px" height="35px">
        </a>
        <a href="https://telegram.me/WhisperSenderBot" class="icon">
          <img src="./assets/icons/telegram.svg" alt="telegram icon" width="35px" height="35px">
        </a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=whisper@gmail.com" class="icon">
          <img src="./assets/icons/email.svg" alt="email icon" width="35px" height="35px">
        </a>
      </div>
    </div>
  </div>
</div>
