<div class="footer">
  <div class="footer-columns">
    <div class="footer-column">
      <span class="footer-logo"></span>
    </div>
    <div class="footer-column">
      <div class="footer-corp">
        © 2020-2025, «AIDE».
      </div>
    </div>
    <div class="footer-column">
      <div class="social">
        <a href="http://www.facebook.com/wix" class="icon facebook-icon"></a>
        <a href="http://www.twitter.com/wix" class="icon twitter-icon"></a>
        <a href="https://telegram.me/WhisperSenderBot" class="icon telegram-icon"></a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=whisper@gmail.com" class="icon email-icon"></a>
      </div>
    </div>
  </div>
</div>
