.main-wrapper {
    height: 100vh;
    overflow: hidden;
}

.buttons-section {
    position: fixed;
    top: calc(50% - 3.25rem);
    height: 6.5rem;
    right: 1rem;

    .prev, .next {
        background-color: #202020e8;
        border-radius: 100%;
        border: none;
        height: 2.5rem;
        width: 2.5rem;
        cursor: pointer;
        display: block;
        line-height: 3.5rem;
        box-shadow: 0 0 5px 3px #2020206b;
        color: rgba(255, 255, 255, 0.726);

        &:hover {
            background-color: #202020;
            box-shadow: 0 0 5px 3px #d44b4b46;
            color: white;
        }
    }

    .prev {
        margin-bottom: .75rem;
    }
}