<div class="main-wrapper">
    <div class="buttons-section">
        <button class="prev"><i class="material-icons">keyboard_arrow_up</i></button>
        <button class="next"><i class="material-icons">keyboard_arrow_down</i></button>
    </div>

    <page-section>
        <page-start></page-start>
    </page-section>
    <page-section>
        <page-about></page-about>
    </page-section>
    <page-section>
        <page-example></page-example>
    </page-section>
    <page-section>
        <page-try-it></page-try-it>
    </page-section>
    
    <footer></footer>
</div>