<div class='page-technology'>
  <div class='floating-title'>
    Technology
  </div>

  <div class="technology-description-wrapper">
    <div class="description-column">
      <div class="description-column__heading">
        FAST
      </div>
      <div class="description-column__text-section">
        Our program analyzes statements in real time.
      </div>
    </div>

    <div class="description-column">
      <div class="description-column__heading">
        OBJECTIVELY
      </div>
      <div class="description-column__text-section">
        Our AI objectively analyzes statements. He is trained on thousands of examples.
      </div>
    </div>

    <div class="description-column">
      <div class="description-column__heading">
        EASY
      </div>
      <div class="description-column__text-section">
        Easy to configure: just specify the people that our AI will start following, and that’s all.
      </div>
    </div>
  </div>
</div>
