.page-technology {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .technology-description-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    max-height: calc(100% - 7rem);
    text-transform: none;
    text-align: center;
    margin-top: 5rem;

    .description-column {
      display: inline-flex;
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 0;

      &:not(:last-child) {
        margin-right: 3rem;
      }

      &__heading {
        font-size: 20pt;
        margin-bottom: 2rem;
      }

      &__text-section {
        font-size: 14pt;
        color: rgb(96, 94, 94);
        font-weight: normal;
      }
    }
  }
}
