<div class='page-about'>
    <div class='floating-title'>
        About Us
    </div>
    <div class="about-description-wrapper">
        <div class="description-column">
            <div class="description-column__logo">
                <i class="material-icons md-48">
                    message
                </i>
            </div>
            <div class="description-column__divider">
                &nbsp;
            </div>
            <div class="description-column__text-section">
                We are a team of experienced traders. Our strategy is news-based trading.
            </div>
        </div>

        <div class="description-column">
            <div class="description-column__logo">
                <i class="material-icons md-48">
                    emoji_objects
                </i>
            </div>
            <div class="description-column__divider">
                &nbsp;
            </div>
            <div class="description-column__text-section">
                We found a direct correlation of the statements of influencers about companies and their shares. The problem is that while information gets into the news, it takes some time, sometimes days, and the opportunities to make money on it are decreasing.
            </div>
        </div>

        <div class="description-column">
            <div class="description-column__logo">
                <i class="material-icons md-48">
                    share
                </i>
            </div>
            <div class="description-column__divider">
                &nbsp;
            </div>
            <div class="description-column__text-section">
                We've decided to write software for ourselves that will parse the original sources instantly and use AI to analyze sentiment. This helped us to increase profits at times, it became easier for our employees to work, and we decided to share this program with you.
                ​
                The program analyzes the posts of people. Determines if there is a mention of company names. Gives sentiment at the exit. Only important and necessary information for you. No rubbish. Instantly.
            </div>
        </div>
    </div>
</div>