.page-about {
  height: 100%;
  // background-color: rgb(236, 253, 132);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 100%;

  .about-description-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    max-height: calc(100% - 7rem);

    .description-column {
      display: inline-flex;
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 0;

      &:not(:last-child) {
        margin-right: 3rem;
      }

      &__logo {
        text-align: center;
      }

      &__divider {
        height: .5rem;
        background-color: gray;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      &__text-section {
        font-size: 1.25rem;
        text-align: justify;
        color: rgb(96, 94, 94);
        font-weight: 600;
        overflow-y: scroll;
      }
    }
  }
}
