@import "./variables.scss";

.floating-title {
  color: $main-text-color;
  font-weight: 900;
  font-family: $roboto;
  font-size: 3.75rem;
  display: inline-flex;
  flex-direction: row;
  height: 7rem;
  margin-bottom: 2rem;
  margin-left: 15%;
  margin-right: 15%;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
}
